.modalgp {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.modalgp__content {
    padding: 30px;
    background: white;
    border-radius: 15px;
    max-width: 700px;
}

.modalgp.active {
    display: flex;
    justify-content: center;
    align-items: center;
    
}