.docs__title {
    color: rgb(51, 62, 72);
    font-size: 24px;
    margin: 24px 0;
}

.docs__description h2 {
    color: rgb(51, 62, 72);
    font-size: 20px;
    margin-left: 10px;
}
.docs__description h3 {
    color: rgb(51, 62, 72);
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 8px;
}

.docs__description p {
    text-indent: 40px;
    margin-bottom: 8px;
    margin-top: 20px;
    line-height: 1.5;
}

.docs__description a {
    text-decoration: none;
    color: rgb(237, 28, 36);
    font-weight: 500;
}

.docs__description span {
    display: block;
    border-bottom: 2px solid rgb(237, 28, 36);
    margin: 20px 0;
}
