.footer {
    background-color: rgb(51, 62, 72);
    margin-top: 40px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1044px;
    font-size: 14px;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-align: justify;
}

.footer__container a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 700;
}

.footer__container__description {
    width: 800px;
}

.footer__container__description span {
    display: block;
    border-bottom: 2px solid white;
    margin: 10px 0;
}

.footer__container__logo-icon {
    height: 70px;
}