.galery__title {
    color: rgb(51, 62, 72);
    font-size: 24px;
    margin: 24px 0;
}

.galery__container {
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    align-items: center;
}

.galery__item {
    position: relative;
    margin-bottom: 20px;
    max-width: 485px;
    max-height: 400px;
    display: flex;
    justify-content: center;
}

.galery__item__descrtiption {
    opacity: 0;
    position: absolute;
    bottom: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    transition: 0.5s;
    font-weight: 500;
}

.galery__item:hover .galery__item__descrtiption {
    opacity: 1;
}

.galery__item__image {
    width: 100%;
    height: auto;
}

.load-input {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    max-width: 310px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 2px solid rgb(237, 28, 36);
    border-radius: 5px;
    color: rgb(51, 62, 72);
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
}