.equipment-enter {
    opacity: 0;
}

.equipment-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.equipment-exit {
    opacity: 1;
}

.equipment-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}